---
layout:     empty
title:      "Aktuality"
slug:       aktuality
intro:      "Stručný prehľad noviniek, opráv a aktualizácií na našom webe."
---

<div class="section">
    <div class="container">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.intro }}</p>
        <p class="lead">Chcete dostávať pravidelné aktualizácie cez email? Prihláste sa k odberu nášho newslettru: Krátky sumár noviniek na našom webu maximálne raz za mesiac (a skôr menej často).</p>

        <form class="subscription-form" action="{{ site.newsletter }}" target="_blank" method="post">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Vaša emailová adresa:</span>
                </div>
                <input type="text" class="form-control" placeholder="email@email.sk" name="email" id="tlemail" aria-label="Emailová adresa" />
                <div class="input-group-append">
                    <input type="submit" class="btn btn-primary" value="Prihlásiť sa k odberu noviniek" />
                </div>
            </div>
        </form>
         
    </div>
</div>

<div class="section news">
    <div class="container">
    {% assign sorted_news = site.data.news | sort: "date" | reverse %}
    {% for item in sorted_news %}
        <div class="news-item">
            <div class="d-block d-md-inline-block date">
                <p>{{ item.date | date: "%-d. %-m. %Y" }}</p>
            </div>
            <div class="d-inline-block summary">
            {% if item.title %}
                <h2>{{ item.title }}</h2>
            {% endif %}
                {{ item.summary | markdownify }}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
