---
layout:     single-section-page
title:      "Slovník pojmov"
slug:       slovnik
intro:      "Stručný prehľad nejčastejšie používaných hesiel a skratiek s krátkym vysvetlením či komentárom."
---
{%- assign sorted_glossary = site.data.glossary | sort_localized: "name-short" -%}

<p class="lead">{{ page.intro }}</p>

<ul class="inline-bullet-list">
    {%- for item in sorted_glossary %}
    <li><a href="#{{ item.id }}">{{ item.name-short }}</a></li>
    {%- endfor %}
</ul>

{% for item in sorted_glossary %}
<hr/>
<h3 id="{{ item.id }}">{{ item.name-short }}{% if item.name-long %}<span class="lead"> ({{ item.name-long }})</span>{% endif %}</h3>
{{ item.description | markdownify }}
{% endfor %}
