# Local Jekyll config file (will be appended after master)

# Site settings
title: "Fakty o klíme"
url: https://faktyoklime.sk
email: info@faktyoklime.sk
github: faktaoklimatu/web-sk
twitter: "faktaoklimatu"
newsletter: "https://tinyletter.com/faktyoklime/subscribe"
fundraising: "https://www.darujme.cz/projekt/1204215"
author: faktyoklime.sk
copyright: "&copy; 2021 Otevřená data o klimatu, z. ú."
description: Zhromažďujeme dáta o klíme a klimatickej zmene, ktoré poskytujú vedecké inštitúcie a spracovávame z nich grafy a infografiky pre ďalšie použitie.
keywords: klíma, zmena klímy, infografiky

slugs:
  infographics: infografiky
  studies: studie
  datasets: datasety
  topics: temy
  glossary: slovnik
  how-to-use: ako-pouzivat
  news: aktuality

# Set permalinks in local language
collections:
  pages:
    output: true
    permalink: /:title
    title: stránky
    weight: 0
#  explainers:
#    output: true
#    permalink: /explainery/:title
#    title: explainery
#    weight: 1
  infographics:
    output: true
    permalink: /infografiky/:title
    title: infografiky
    weight: 2
  studies:
    output: true
    permalink: /studie/:title
    title: štúdie a rešerše
    weight: 3
  datasets:
    output: true
    permalink: /datasety/:title
    title: datasety
    weight: 4

# Set topic permalinks in local language
jekyll-archives:
  enabled: [ "tags" ]
  layouts:
    tag: tag
  permalinks:
    tag: '/temy/:name/'
  collections:
    merge_tags: true

# Enable Czech smart quotes
kramdown:
    smart_quotes: sbquo,lsquo,bdquo,ldquo
