/* Local CSS for slovak web version */

.single-page {
    background: linear-gradient(transparent 0, #ffffff 200px),url(/assets-local/img/infographics-preview.png) !important;
    padding-top: 150px !important;
}

.intro {
    .tagline { width: 11rem; }
    p { padding-left: 14rem; }
    .nav-tabs { border: none; }
}

.support-block {
    padding: 1rem 0 3rem 14rem;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;

    * {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    .widget-darujme {
        z-index: 2;
    }
}

.grid-figures {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;

    .longread-figure {
        margin: 0;
    }
}

.technologie-dekarbonizace-prumyslu {
    line-height: 1.2;
    grid-template-columns: 6em 1fr;
    align-items: center;
}

.barvy-vodiku .longread-figure {
    max-width: 30rem;
    margin-top: 2rem !important;
}

@media screen and (max-width: 768px) {
    .support-block { padding-left: 0; }

    .tab-content .btn {
        font-size: 0.85rem;
        padding: 0.3rem 0.5rem;
        margin-inline: 0.05rem;
    }

}

@media (min-width: 768px) {
    .grid-figures {
        column-gap: 1.5rem;
        p {
            align-self: center;
            margin-bottom: 0;
        }
    }

    .technologie-dekarbonizace-prumyslu {
        grid-template-columns: repeat(var(--items), 1fr);
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        p { align-self: start; }
        .longread-figure { margin-right: 1em; }
    }
}


.ff55-done, .ff55-inprogress {
    margin-left: 0.5em;
    color: #9ba5ad;
}

.ff55-done {
    color: #8ab59b;
}
